<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About</title>
  <link rel="stylesheet" href="../static/css/main.css" />
  <!-- Need to use bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    href="/static/css/main.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script src="../static/js/index.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="top-nav">
      <div class="container-fluid">
        <a class="navbar-brand" href="./index.html">World News</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="./index.html" id="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about.html" id="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./Catalog.html" id="catalog">Catalog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./references.html" id="references">References</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="technology">Technology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#sports" id="sports">Sports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#finance" id="finance">Finance</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="text" placeholder="Search" id="searchText" />
            <button class="btn btn-outline-warning" type="button" id="searchBtn" style="margin-right: 20px">
              Search
            </button>

            <div class="form-check form-switch" style="align-items: right">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" />

              <label class="form-check-label" for="flexSwitchCheckChecked" onclick="changetheme()" id="themeLabel">Dark
                Mode</label>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <div class=”row”>
      <h1>Welcome to World News</h1>
      <p>
        Welcome to World News, your one-stop destination for staying informed
        about the latest developments from around the world. We utilize NewsAPI to
        provide you with up-to-date news articles on a wide range of topics.
        Whether you're interested in technology trends, sports highlights or any
        other subject, our website is designed to bring you the most relevant news
        at your fingertips. Our user-friendly search bar allows you to easily find
        articles of interest, and with a simple click, you can access a concise
        summary of each news story along with a direct link to the full article.
        Stay connected and well-informed with the world's most pressing news by
        exploring our website today.</p>
    </div>
    <div class="row"></div>
    <h1>Meet Team 7</h1>
    <div class=”col-xs-6 col-sm-4”>
      <img src="/images/Khang.jpg" class="img-thumbnail" alt="Khang's Profile Picture"
        style="width: 500px; height: 600px" />
      <h3>Khang Nguyen - Developer</h3>
      <p>
        My name is Khang, I'm a Sophomore in Computer Science at WMU. Some fun
        fact about me is that beside goign to school, I coach Volleyball for
        Hackett Catholic Prep High School, work for the CAE Department at the
        College of Engineering and Applied Science, and is an e-board member of
        WMU Men's Volleyball Club Team</p>
    </div>
    <div class=”col-xs-6 col-sm-4”>
      <img src="/images/Phi.JPG" class="img-thumbnail" alt="Phi's Profile Picture"
        style="width: 500px; height: 600px" />
      <h3>Phi Duong - Developer</h3>
      <p>An introduction paragraph for Phi</p>
    </div>
  </div>

  </div>
</body>

</html>