<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>World News| About </title>
  <!-- Link to Bootstrap's CSS first then main.css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    href="/static/css/main.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous" />
  <!-- Link to Bootstrap's JS and then main.js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script src="../static/js/index.js"></script>
</head>

<body>
  <header>
    <div id="navBarJS"></div>
  </header>
  <div class="container-fluid">
    <br />

    <h1 class="text-center">About</h1>

    <div class=”row”>
      <h2 class="text-start">Welcome to World News</h2>
      <p class="fs-6">
        Our website, World News, is a one-stop destination for staying informed
        about the latest developments from around the world. We utilize NewsAPI to
        provide you with up-to-date news articles on a wide range of topics.
        Whether you're interested in technology trends, sports highlights or any
        other subject, our website is designed to bring you the most relevant news
        at your fingertips. Feel free to utilize the search bar allows you to easily find
        articles of interest, and with a simple click, you can access a concise
        summary of each news story along with a direct link to the full article.
        Stay connected and well-informed with the world's most pressing news by
        exploring our website today.</p>
    </div>

    <br />

    <div class="row">
      <h2 class="text-start">Meet Team 7</h2>
    </div>

    <div class="row">
      <div class="col-6">
        <img src="/images/Khang.jpg" class="rounded float-start" alt="Khang's Profile Picture"
          style="width: 300px; height: 400px" />
      </div>
      <div class="col-6">
        <img src="/images/Phi.JPG" class="rounded float-start" alt="Phi's Profile Picture"
          style="width: 275px; height: 400px" />
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p class="text-start fw-medium fs-4">Khang Nguyen - Developer</h3>
        <p class="text-start fs-6">
          My name is Khang, I'm a second-year international student in Computer Science at WMU. Some fun
          fact about me is that beside going to school, I coach Volleyball for
          Hackett Catholic Prep High School, work for the CAE Department as a System Administrator at the
          College of Engineering and Applied Science, and is an e-board member of
          WMU Men's Volleyball Club Team.</p>
      </div>
      <div class="col-6">
        <p class="text-start fw-medium fs-4">Phi Duong - Developer</h3>
        <p class="text-start fs-6">My name is Phi, I'm a Computer Science Major at WMU. I like fashion, photography, and
          good food.</p>
      </div>
    </div>

  </div>
</body>

</html>